/* From https://unix.stackexchange.com/a/343643 with modifications described in the comments */
/* Tested and works well with 4K resolution */

/* shrink headerbars (don't forget semicolons after each property) */
headerbar {
    min-height: 0px;
    padding: 4px 4px;
    background-color: #2d2d2d;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin: 0px; /* same as headerbar side padding for nicer proportions */
}

/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 0px;
    background-color: #2d2d2d;
}

.default-decoration .titlebutton {
    min-height: 26px; /* tweak these two props to reduce button size */
    min-width: 26px;
}

window.ssd headerbar.titlebar {
    padding: 2px 4px;
    min-height: 0;
}

