[user]
  name = Jacky Xu
  username = xtangle
  email = jackyxu07@gmail.com
[credential]
  helper = store
  helper = cache
[core]
  eol = lf
  autocrlf = input
  safecrlf = true
  filemode = true
  editor = vim
  whitespace = tab-in-indent,trailing-space,tabwidth=2
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
